/* акцент #2196F3;
лого #000000;
цвет заголовков #212121  ;
белый цвет #FFFFFF;
основной цвет #757575;
цвет футер: мейл, тел rgba(255, 255, 255, 0.6);
цвет фона: #F5F4FA;
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --titles-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Хедер */

.flex-container {
  display: flex;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
  
  border-bottom: 1px solid #ececec;
  
  background-color: var(--white-color);
}

/* Лого */
.logo {
  margin-right: 85px;

  color: #000000;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-web {
  color: var(--accent-color);
}

/* Меню */
.site-menu {
  display: flex;
}

.site-menu .item:not(:first-child) {
  margin-left: 50px;
}
.site-menu .link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--time-function);

  color: var(--titles-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-menu .link:hover,
.site-menu .link:focus {
  color: var(--accent-color);
}

.site-menu .current {
  position: relative;

  color: var(--accent-color);
}

.site-menu .current::after {
  content: "";
  display: block;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Контакты в хедере*/
.contacts-info {
  margin-left: auto;
}

.contacts-info a + a {
  margin-left: 30px;
}

.contacts-info > a {
  display: inline-flex;
  align-items: center;

  transition: color 250ms var(--time-function);

  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.icon-envelope {
  margin-right: 10px;
  width: 16px;
  height: 11.2px;
  fill: currentColor;
}

.icon-telephone {
  margin-right: 10px;
  width: 10px;
  height: 15px;
  fill: currentColor;
}

.contacts-info > a:hover,
.contacts-info > a:focus {
  color: var(--accent-color);
}

/* Секция приветствия */

.hero {
  background-color: var(--icon-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero.jpg);

  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero > .link {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Секции */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--titles-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Принципы работы */
.principles {
  display: flex;
}

.principles .item {
  width: calc((100% - 90px) / 4);
}

.principles .item:not(:first-child) {
  margin-left: 30px;
}

.icon-principles {
  width: 70px;
  height: 70px;
}

.icon-box {
  height: 120px;
  background-color: var(--bg-color);
  border-radius: 4px;
  padding: 25px 100px;
}

.principles .title {
  margin-top: 30px;
  color: var(--titles-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.principles .text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */
.section.our-work {
  padding-top: 0;
}

.work {
  display: flex;
}

.work .item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.work .item + .item {
  margin-left: 30px;
}

.work .title {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* Наша команда */
.section.team {
  background-color: var(--bg-color);
}

.workers .item:not(:first-child) {
  margin-left: 30px;
}

.card-content {
  padding: 30px 32px 24px 32px;
}

.workers .item {
  width: calc((100% - 90px) / 4);

  background-color: var(--white-color);
  text-align: center;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.name {
  margin-bottom: 10px;

  color: var(--titles-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;

  transition: background-color 250ms var(--time-function),
    border-radius 250ms var(--time-function);
}

.social-media {
  display: flex;
  justify-content: space-between;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);

  transition: fill 250ms var(--time-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50px;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white-color);
}

/* Клиенты */
.clients {
  display: flex;
}

.clients .item:not(:first-child) {
  margin-left: 30px;
}

.clients .link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border 250ms var(--time-function);
}

.clients-icon {
  fill: var(--icon-color);

  transition: fill 250ms var(--time-function);
}

.logo1 {
  width: 44px;
  height: 49px;
}

.logo2 {
  width: 40px;
  height: 52px;
}

.logo3 {
  width: 41px;
  height: 43px;
}

.logo4 {
  width: 80px;
  height: 42px;
}

.logo5 {
  width: 59px;
  height: 47px;
}

.logo6 {
  width: 88px;
  height: 45px;
}

.clients .link:hover .clients-icon,
.clients .link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients .link:hover,
.clients .link:focus {
  border: 1px solid var(--accent-color);
}

/* Футер */
footer {
  background-color: #2f303a;
}

footer .flex-container {
  padding-top: 45px;
  padding-bottom: 28px;
  align-items: baseline;
}

.join {
  margin-left: 69px;
  width: 206px;
}

.subscribe {
  margin-left: auto;
  width: 570px;
  height: 86px;
}

.logo-studio {
  color: var(--white-color);
}

.adress-footer {
  margin-top: 8px;

  color: var(--white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.adress-footer a {
  display: inline-block;
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);
}

.join > .title,
.subscribe > .title {
  color: var(--white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

footer .social-media {
  margin-top: 20px;
}

footer .social-link {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

footer .social-icon {
  fill: var(--white-color);
}

.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);

  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Портфолио */
.examples-choice {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.examples-choice .item:not(:first-child) {
  margin-left: 8px;
}

.examples-choice button {
  padding: 6px 22px;

  color: var(--titles-color);
  background-color: var(--bg-color);

  transition: color 250ms var(--time-function),
    background-color 250ms var(--time-function);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
}

.examples-choice button:hover,
.examples-choice button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
}

.examples-list .link {
  display: block;
}

.examples-list .link:hover,
.examples-list .link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.examples-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.examples-list .item:nth-child(3n) {
  margin-right: 0;
}

.examples-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.examples-list .item .box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.examples-list .title {
  margin-bottom: 4px;

  color: var(--titles-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list .type {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}

.examples-list .description {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms var(--time-function);
  
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
}

.examples-list .link:hover .description,
.examples-list .link:focus .description{
  transform: translateY(0);
}

.examples-list .thumb {
  position: relative;

  overflow: hidden;
}
